// Hero component styles

.heroContainer {
  display: flex;
  justify-content: space-between;  
  color: #eab308;
  background-color: #353434;
}

.hero {
  position: relative;
  display: flex;
  padding: 64px;
  width: 100vw;
  height: 100vh;
  align-items: flex-end;
}

.textContainer {
  position: relative;
  font-size: 24px;
}

.title {
  font-size: 290px;
  font-weight: 600;
  line-height: 0.8;
}

.direction {
  line-height: 1;
  margin-bottom: 17px;

  &:last-child {
    margin-bottom: 0;
  }
}

.line {
  text-align: end;
}
