// SlideInText component styles

.char {
  position: relative;
  display: inline-block;
  overflow: hidden;
  line-height: 0.9;
}

.characterSpan {
  position: relative;
  display: inline-block;
  will-change: transform;
}

.word {

}
