// SlideInText component styles

.char {
  position: relative;
  display: inline-block;
  overflow: hidden;
}

.characterSpan {
  position: relative;
  display: inline-block;
  will-change: transform;
}

.word {
  display: inline-block;
}
